.lapdiv{
    position: relative;
    margin-top: 10%;
    margin-left: -10%;
}

.time{
top: 42px;
left: 706px;
width: 536px;
height: 130px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
position: relative;
opacity: 1;
z-index: 9;
}

.sepc{
    margin-top: 2.5%;
margin-left:7%;
width: 458px;
height: 90px;
/* UI Properties */
opacity: 1;
position: absolute;
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.word p{
top: 94px;
left: 745px;
width: 46px;
height: 26px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/32px var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d087b);
text-align: left;
font: normal normal 600 20px/32px Manrope;
letter-spacing: 0px;
color: #3D087B;
text-transform: uppercase;
opacity: 1;
}

.hrs{
    top: 62px;
left: 823px;
width: 80px;
height: 90px;
/* UI Properties */
background: transparent url('./timeline.png') 0% 0% no-repeat padding-box;
opacity: 1;
margin-left: 5%;
margin-top: 2.5%;
}

.digit{
top: 67px;
margin:auto;
margin-top: 10%;
width: 33px;
height: 43px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-8a11bf);
text-align: left;
font: normal normal normal 36px/43px Barlow;
letter-spacing: 0px;
color: #8A11BF;
opacity: 1;
}

.hrrr{
   margin-top:0px;
    margin-left:auto;
    margin-right: auto;
width: 56px;
height: 28px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-5f0089);
text-align: left;
font: normal normal normal 23px/28px Barlow;
letter-spacing: 0px;
color: #5F0089;
opacity: 1;
}

.colon{
margin-top: -25px;
margin-left:-5px;
width: 4px;
height: 22px;
/* UI Properties */
background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
/* background: #8A11BF 0% 0% no-repeat padding-box; */
opacity: 1;
font-size:40px;
color: #8A11BF;
}

.min{
    top: 0px;
left: 922px;
width: 82px;
height: 90px;
background: var(--unnamed-color-f6e2ff) 0% 0% no-repeat padding-box;
background: #F6E2FF 0% 0% no-repeat padding-box;
border-radius: 2px;
opacity: 1;
margin-top: 2.5%;
}

.mindigit{
    top: 68px;
    margin:auto;
    margin-top: 10%;
width: 41px;
height: 43px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-8a11bf);
text-align: left;
font: normal normal normal 36px/43px Barlow;
letter-spacing: 0px;
color: #8A11BF;
opacity: 1;
}

.minhr{
    margin-top:0px;
    margin-left:30%;
width: 46px;
height: 26px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/26px var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-5f0089);
text-align: left;
font: normal normal normal 22px/26px Barlow;
letter-spacing: 0px;
color: #5F0089;
opacity: 1;
}

.colons{
    margin-top: -25px;
margin-left:-5px;
width: 4px;
height: 22px;
/* UI Properties */
background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
/* background: #8A11BF 0% 0% no-repeat padding-box; */
font-size: 40px;
color: #8A11BF;
opacity: 1;
}

.sec{
    top: 62px;
left: 1019px;
width: 82px;
height: 90px;
background: var(--unnamed-color-f6e2ff) 0% 0% no-repeat padding-box;
background: #F6E2FF 0% 0% no-repeat padding-box;
border-radius: 2px;
opacity: 1;
margin-top: 2.5%;
}

.secdigit{
    top: 68px;
    margin:auto;
    margin-top: 10%;
width: 32px;
height: 43px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-8a11bf);
text-align: left;
font: normal normal normal 36px/43px Barlow;
letter-spacing: 0px;
color: #8A11BF;
opacity: 1;
}

.sechr{
    margin-top: 0px;
    margin-left:35%;
width: 44px;
height: 26px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/26px var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-5f0089);
text-align: left;
font: normal normal normal 22px/26px Barlow;
letter-spacing: 0px;
color: #5F0089;
opacity: 1;
}

.zone{
    top: 62px;
left: 1121px;
width: 82px;
height: 90px;
background: transparent url('./AM_svg.png') 0% 0% no-repeat padding-box;
opacity: 1;
margin-top: 2.5%;
}

.zone p{
    top: 86px;
    margin-left:15%;
    margin-top: 25%;
width: 48px;
height: 43px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 36px/43px Barlow;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.mbtime{
    margin-top:-70px;
    margin-left: 766px;
    width: 416px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
}

.dtime{
    margin-top:-120px;
    margin-left: 785px;
    width: 379px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}

.stat{
    top: 212px;
margin-left: 51%;
width: 536px;
height: 118px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
text-align: center;
}

.stat p{
width: 492px;
height: 38px;
margin-top: 6%;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-30)/40px var(--unnamed-font-family-bauhaus-hv-bt);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-8e53f0);
text-align: left;
font: normal normal 900 26px/40px Bauhaus Hv BT;
letter-spacing: 0px;
color: #8E53F0;
text-transform: uppercase;
text-align: center;
opacity: 1;
display: inline-block;
}

.slogen{
    width: 566px;
    height: 77px;
    border: 1px solid var(--unnamed-color-ededed);
    background: #3D087B;
    color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 5%;
}

.good{
    color:white;
    width: 381px;
    height: 34px;
    font-size: 27px;
    font-family: Bauhaus Hv BT, Heavy;
    padding-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.pic{
    margin-top: -150px;
    margin-left:50%;
    width: 536px;
    height: 341px;
    /* UI Properties */
    background: transparent url('./afternoon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }